<div id = "body">
  <p class="main-time">   {{ nowDate | async | date:'HH:mm:ss' }}</p>
  <div>
      <button (click)="addElement()">アイテムを追加</button>
  </div>

  <div>
    <div style="margin-top: 20px;">
      <div *ngFor="let item of elements; let i = index" [class]="item.className" style="margin: 5px;">
        <span style="margin: 15px;">{{ item.label }}</span>
        <select [(ngModel)]="item.selectedMinutes" (change)="onSelectChange(i)">
            <option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</option>
        </select>
        <button style="margin: 2px;" (click)="onElementEnableAlert(i)">ON</button>
        <button style="margin: 2px;" (click)="onElementDisableAlert(i)">OFF</button>
        <button (click)="removeElement(i)" class="delete-btn right-align">×</button>
      </div>
    </div>
  </div>
</div>
