.normal {
    background-color: #e2f3e6;
    padding:'10px';
    margin-bottom:'10px';
    border: 1px solid;
    border-color: #eafaed;
    border-radius: 10px;
    font-size: 25px;
}
  
.highlight {
    background-color: #f8d7da;
    padding:'10px';
    margin-bottom:'10px';
    border: 1px solid;
    border-color: #dc3545;
    border-radius: 10px;
    font-size: 25px;
}

.main-time {
    text-align: center;
    font-size: 17vw;
    font-family:Nunito, sans-serif;
    font-weight: 600;
}
